<html lang="en">
<head>
	<meta charset="utf-8">
	<title>welcome page</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Simple Project Using Node JS</h1>
<p>presented by Portal Team </p>
<ul>
  <a href="/product" class="list-group-item">1. CRUD Using mysql</a>
  <a href="/employee" class="list-group-item">2. Integrate with Rest API</a>
  <a href="/upload" class="list-group-item">3. Upload File</a>
  <a href="#" class="list-group-item">4. Send Email</a>
</ul>
</body>
</html>
